*{
    margin : 0 ;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(7,1fr);
    grid-template-columns: repeat(4,1fr);
    border: 5px solid black;
    height: 85%;
    width: 40%;
    background-color: rgb(133, 133, 151);
}
.ele{
    border: 5px solid black;
    
}
#el6 button:hover{
    transform: scale(1.5);
    border-radius: 40%;
}
.ele:hover{
    transform: translate(3%,-3%);
}
#el1{
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
#el2{
    background-color: rgba(186, 120, 53, 0.746);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
#el3{
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    
}
#el4{
    
    background-color: rgba(186, 120, 53, 0.746);
    grid-column-start:3 ;
    grid-column-end: 5 ;
    grid-row-start: 2;
    grid-row-end: 6;
    
}
#el5{
    background-color: rgb(178, 237, 17);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    
}
#el6{
    background-color: rgb(15, 16, 15);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#el7{
    background-color: aquamarine;
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 9;
}
#el8{
    background-color: aquamarine;
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 10;

}
#el6 button{
    background-color: rgb(216, 229, 35);

}
.flexkibaat{
    display: flex;
    align-items: center;
    justify-content: center;
}